version: "3.9"

services:
  frontend-server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_NAME: frontend-server
    container_name: sentiment-analyzer-frontend
    ports:
      - "8881:8080"
    environment:
      PORT: 8080

  data-analyzer:
    build:
      args:
        APP_NAME: data-analyzer-server
    container_name: sentiment-analyzer
    ports:
      - "8883:8080"
    environment:
      PORT: 8080

  data-collector:
    build:
      args:
        APP_NAME: data-collector-server
    container_name: sentiment-data-collector
    ports:
      - "8882:8080"
    environment:
      PORT: 8080